name: Update readme

on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Update README with readme
        uses: gautamkrishnar/blog-post-workflow@1.9.4
        with:
          gh_token: ${{ secrets.GITHUB_TOKEN }}
          max_post_count: 5
          disable_item_validation: true
